<div class="container">
    <br>
    <form class="needs-validation" novalidate [formGroup]="createForm" (ngSubmit)="newBook(createForm.value)">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="name"
              placeholder="Escribe un nombre" required>
            <div class="invalid-feedback">
              Por favor escriba el nombre del libro.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Autor</label>
            <input type="text" class="form-control" formControlName="author"
              placeholder="Escribe el autor" required>
            <div class="invalid-feedback">
              Por favor escriba el autor.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom05">Editor</label>
            <input type="text" class="form-control" formControlName="publisher"
              placeholder="Escribe el Editor">
            <div class="invalid-feedback">
              Por favor ingrese el Editor.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Genero</label>
            <input type="text" class="form-control" formControlName="genre"
              placeholder="Escribe un genero">
            <div class="invalid-feedback">
              Por favor ingrese un genero.
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="d-grid gap-2 col-6 mx-auto">
            <br>
            <button style="margin-top: 7px" class="btn btn-primary btn-block" type="submit" [disabled]="createForm.invalid"
                >Actualizar</button>
          </div>
        </div>
      </form>
</div>
